{
    "openapi": "3.0.0",
    "info": {
        "title": "ERP Premium Enterprise SaaS API",
        "description": "API robusta para o Ecossistema ERP B2B/B2C. \\n\\n**Novos Módulos Disponíveis:**\\n- `Motor Tributário & Fiscal` (Despacho assíncrono)\\n- `Estoque & WMS Avançado` (Regras de Curva ABC e Validade)\\n- `CRM Oportunidades` (Pipeline Kanban)\\n- `Controle Multi-Filial` (Isolamento nativo de Tenant)\\n- `Tesouraria DRE` & `Integração Motor Pagamentos (PIX)`\\n- `Real-Time Websockets` (Laravel Reverb)",
        "contact": {
            "email": "alessandro@gestaopdv.com"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Autenticação API"
                ],
                "summary": "Autentica e emite Token Sanctum Offline",
                "description": "Gera o tokenBearer que o App Desktop/Mobile usará para manter sessão.",
                "operationId": "apiLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@gestaopdv.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Acesso concedido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "user_name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais Inválidas"
                    }
                }
            }
        },
        "/api/v1/pos/products": {
            "get": {
                "tags": [
                    "Integração PDV Electron"
                ],
                "summary": "Carga Inicial de Tabela de Produtos (Sync)",
                "description": "Lista todos os produtos ativos para salvar no cache local (IndexedDB) do app Electron Offline.",
                "operationId": "apiProducts",
                "responses": {
                    "200": {
                        "description": "Array de Produtos e Tabelas Auxiliares"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/pos/sync-sales": {
            "post": {
                "tags": [
                    "Integração PDV Electron"
                ],
                "summary": "Despejo em Lote de Vendas Offline (Push)",
                "description": "Recebe um Array JSON com N vendas que ocorreram no App Desktop durante o dia (Quando sem internet, empurra em massa).",
                "operationId": "apiSyncSales",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sales": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "local_id": {
                                                    "type": "string"
                                                },
                                                "total_cents": {
                                                    "type": "integer"
                                                },
                                                "payment_method": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "product_id": {
                                                                "type": "integer"
                                                            },
                                                            "qty": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sincronização OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/financeiro/dashboard/data": {
            "get": {
                "tags": [
                    "Financeiro"
                ],
                "summary": "Obter Dados do Dashboard",
                "description": "Retorna as métricas agregadas do financeiro e os últimos alertas de auditoria.",
                "operationId": "4965abdd55dcee5a78c7943d150f227d",
                "responses": {
                    "200": {
                        "description": "Métricas JSON"
                    }
                }
            }
        },
        "/api/finance/transactions": {
            "get": {
                "tags": [
                    "Gestão Financeira"
                ],
                "summary": "Extrato Financeiro e Dashboard",
                "description": "Consulta as transações globais e obtém os agregados de faturamento.",
                "operationId": "95f7c0a35092bcca20fe19473fac3b99",
                "responses": {
                    "200": {
                        "description": "Payload de Transações e Métricas"
                    }
                }
            }
        },
        "/api/finance/transactions/export": {
            "get": {
                "tags": [
                    "Gestão Financeira"
                ],
                "summary": "Exportar Balancete Contábil",
                "description": "Gera uma planilha em formato CSV com toda movimentação do sistema ERP.",
                "operationId": "2754f5b3c3937d6c55ffcc8ec04d977b",
                "responses": {
                    "200": {
                        "description": "Arquivo CSV"
                    }
                }
            }
        },
        "/api/hr/employees": {
            "get": {
                "tags": [
                    "Recursos Humanos"
                ],
                "summary": "Listar Funcionários",
                "description": "Retorna a lista de colaboradores incluindo dados de folha e status de acesso.",
                "operationId": "518d03cd473804baa2d8662f4508afc9",
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida"
                    }
                }
            },
            "post": {
                "tags": [
                    "Recursos Humanos"
                ],
                "summary": "Registrar Funcionário",
                "description": "Cadastra um novo colaborador no sistema",
                "operationId": "3a7562bf719063d0738f8861bca577b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Maria Souza"
                                    },
                                    "cpf": {
                                        "type": "string",
                                        "example": "12345678909"
                                    },
                                    "role_description": {
                                        "type": "string",
                                        "example": "Caixa Master"
                                    },
                                    "base_salary_cents": {
                                        "type": "integer",
                                        "example": 350000
                                    },
                                    "pin": {
                                        "type": "string",
                                        "example": "4455"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                }
            }
        },
        "/api/hr/employees/export": {
            "get": {
                "tags": [
                    "Recursos Humanos"
                ],
                "summary": "Exportar Dados RH",
                "description": "Baixa o arquivo CSV com toda a estrutura salarial",
                "operationId": "a2a1c817b17e913ac384d58f8c72dc6a",
                "responses": {
                    "200": {
                        "description": "Arquivo CSV"
                    }
                }
            }
        },
        "/api/purchasing/suppliers": {
            "get": {
                "tags": [
                    "Gestão de Fornecedores"
                ],
                "summary": "Listar Fornecedores",
                "description": "Obtém lista de fornecedores.",
                "operationId": "3edcfbee4f974cbe606c1f9d6e9f8718",
                "responses": {
                    "200": {
                        "description": "Lista carregada"
                    }
                }
            },
            "post": {
                "tags": [
                    "Gestão de Fornecedores"
                ],
                "summary": "Criar Fornecedor",
                "operationId": "17fc94b7aecc8d06909eea2270000d40",
                "responses": {
                    "201": {
                        "description": "Criado"
                    }
                }
            }
        },
        "/api/v1/omnichannel/checkout": {
            "post": {
                "tags": [
                    "Omnichannel & Delivery"
                ],
                "summary": "Processa Venda via App Externo/Delivery",
                "description": "Recebe o array de produtos de um App Mobile React Native e processa direto na Frente de Caixa, exigindo integração transparente.",
                "operationId": "b16dabeae5c2dd9aba9ffa4228e199e8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "customer_document": {
                                        "description": "CPF do Consumidor",
                                        "type": "string"
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "PIX",
                                            "CREDIT_CARD"
                                        ]
                                    },
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "product_id": {
                                                    "type": "integer"
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 2
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Venda Processada com Sucesso pela Matriz"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/settings": {
            "post": {
                "tags": [
                    "Configurações Core"
                ],
                "summary": "Salvar configurações em Lote",
                "description": "Salva configurações de loja ou sistema mapeando payload (key/value).",
                "operationId": "83ace8fa0d4124b1ae50d28535444a90",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "settings": {
                                        "type": "object",
                                        "example": {
                                            "store_name": "Minha Loja",
                                            "cnpj": "1234"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Configurações Atualizadas e Cache Limpo"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Financeiro",
            "description": "Operações Financeiras, Tesouraria e Dashboard Analytics"
        },
        {
            "name": "Gestão Financeira",
            "description": "Operações de Caixa, Extratos e Exportações"
        },
        {
            "name": "Recursos Humanos",
            "description": "Gerenciamento da Equipe e Colaboradores (CRUD & Exportação)"
        },
        {
            "name": "Gestão de Fornecedores",
            "description": "Operações de CRUD de parceiros do Supply Chain"
        },
        {
            "name": "Configurações Core",
            "description": "Endpoints de configuração Mestra, Variáveis de Loja, NFC-e e Tema"
        },
        {
            "name": "Autenticação API",
            "description": "Autenticação API"
        },
        {
            "name": "Integração PDV Electron",
            "description": "Integração PDV Electron"
        },
        {
            "name": "Omnichannel & Delivery",
            "description": "Omnichannel & Delivery"
        }
    ]
}